@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: #272338;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

